<div class="max-w-xl mx-auto bg-white rounded-2xl shadow-lg border border-gray-100 p-8 mt-12 mb-12">

    <!-- Titel -->
    <h2 class="text-2xl font-semibold text-gray-800 text-center">
        Abonnements
    </h2>
    <button type="button" class="bg-cyan-600 text-white py-3 px-5 rounded w-full cursor-pointer mt-3" onclick="window.location.href='/user/abo'" >
        + Neues Abonnement
    </button>
    <div class="space-y-4 mt-3">

    {{#each abos}}
        <div class="w-full max-w-xl flex justify-between mx-auto bg-white rounded-2xl shadow-md hover:shadow-lg transition border border-gray-100 p-4">
            
            <!-- Titel -->
            <div class="border-l-5 border-cyan-500 pl-5">
                <p class="font-semibold text-gray-800 text-lg">
                    Tennisplatz {{this.courtCourtID}}
                </p>

                <!-- Details -->
                <p class="text-sm text-gray-500 mt-1">
                    {{weekdayName this.weekday}} · {{this.starttime}} – {{this.endtime}} Uhr
                </p>
            </div>

            <div class="bg-cyan-500 p-2 rounded-lg flex items-center justify-center" onclick="window.location.href='/user/abo/{{this.note}}/delete'">
                <img src="/media/svg/trash.svg" class="w-5 h-5" />
            </div>

        </div>
    {{/each}}
    <div class="flex justify-end">
        <button type="button" class="bg-cyan-600 text-white py-3 px-5 rounded w-max cursor-pointer mt-2" onclick="window.location.href='/user'" >
            Zurück zum Dashboard
        </button>
    </div>

    </div>
</div>
